body{
  background-color: #FCF7CB;
  font-family: 'ADLaM Display', cursive;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.container{
  display: flex;
  justify-content: center;
}

.calculator-body{
  background-color: #515151;
  height: 400px;
  width: 300px;
  margin-top: 100px;
  padding-bottom: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.display-container{
  width: 85%;
  height: 90px;
  margin-top: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.calculation, .display{
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.calculation{
  color: rgb(68, 68, 68)
}

.buttons{
  width: 85%;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-1x{
  width: 23%;
  margin: 1%;
  height: 50px;
  background-color: #f5f5f5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-2x{
  width: 48%;
  height: 50px;
  background-color: #f5f5f5;
  text-align: center;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.operations{
  color: white;
  background-color: rgb(255, 166, 0);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}